{% extends "base.html" %}

{% block content %}
<div class='login-container'>

    <h1>Login</h1>
    <form method="post">
        {% csrf_token %}
        <label for="username">Username</label>
        <input type="text" id="username", name="username"> <br><br>
        <label for="password">Password</label>
        <input type="text"id="password", name="password"> <br><br>
        <input  type="submit" value="Login">
        <input  type="submit" value="Register">
    </form>
</div>
{% endblock content %}
        
        
        
        
        
        